[2015-11-19 21:51] SylvainBertrand opened #2 "User can visualize if Val's motors are initialized through the UI"

[2015-11-19 21:52] SylvainBertrand opened #3 "User can require Val to initialize its motors through the UI"

[2015-11-19 21:52] SylvainBertrand opened #4 "Joint velocity signals are computed using the motor encoders and spring deflection encoders"

[2015-11-19 21:53] SylvainBertrand opened #5 "Ankle roll torques are communicated to IHMC controller."

[2015-11-19 21:55] SylvainBertrand opened #6 "User can visualize Val's joint state (parked/torque mode) through the UI"

[2015-11-19 23:33] jlack1987 commented on #5
We already fixed this and send you the updated debians in an email this morning. Follow the instructions in the email to install them.

[2015-11-19 23:35] SylvainBertrand commented on #5
Alright I’ll close the ticket next time I run Val. Do you know how to add a “Review” column in the zenhub board (like in Jira)?

From: jlack1987 [mailto:notifications@github.com]
Sent: Thursday, November 19, 2015 5:33 PM
To: NASA-JSC-Robotics/valkyrie <valkyrie@noreply.github.com>
Cc: SylvainBertrand <sbertrand@ihmc.us>
Subject: Re: [valkyrie] Ankle roll torques are communicated to IHMC controller

[2015-11-20 01:08] kodyensley commented on #5
I can add/modify the board. What would you like to add/remove or rename?
-Kody

--

Kody Ensley
B:32A R:2009
Robotic Systems Technology Branch, ER4
NASA/Johnson Space Center
Houston, Texas 77058
Ph: 406-270-0714

From: SylvainBertrand <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NASA-JSC-Robotics/valkyrie <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursd

[2015-11-20 01:25] SylvainBertrand commented on #5
Yo!

Sorry, I just saw your email. I like the current setup, thanks!

Sylvain

 From:   Kody Ensley <notifications@github.com>
 To:   NASA-JSC-Robotics/valkyrie <valkyrie@noreply.github.com>
 Cc:   SylvainBertrand <sbertrand@ihmc.us>
 Sent:   11/19/2015 7:08 PM
 Subject:   Re: [valkyrie] Ankle roll torques are communicated to IHMC controller. (#5)

 I can add/modify the board. What would you like

[2015-11-20 21:03] SylvainBertrand opened #7 "Unit B does not generate overvoltage faults"

[2015-11-24 00:00] jlack1987 commented on #6
From the console UI, AFTER you have started the controller manager, click file-add tab->actuator_status.ui and it'll give you everything that you need. I tried to login to do the updates but the robot was not turned on and couldn't get anybody to flip it on so these updates need to be applied

[2015-11-26 22:46] traversaro opened #8 "IMU and FT sensor wiki pages are pointing to the wrong datasheets"
FT wiki page is pointing to IMU datasheet: https://github.com/NASA-JSC-Robotics/valkyrie/wiki/ATI-Sensors .
IMU wiki page is pointing to FT datasheet: https://github.com/NASA-JSC-Robotics/valkyrie/wiki/IMU-Sensors .

[2015-11-27 16:07] kodyensley commented on #8
Thank you kind stranger. Links swapped.

[2015-11-27 16:07] #8 closed

[2015-12-01 13:38] #2 closed

[2015-12-01 13:38] #6 closed

[2015-12-03 16:11] #5 closed

[2015-12-05 18:09] #3 closed

[2015-12-07 14:53] #4 closed

[2016-01-08 13:57] #7 closed

[2016-01-17 20:00] jlack1987 opened #9 "shared_memory_transport_sliderboard doesn't get cloned when cloning a workspace from the workspace files"
Recreating this ticket from @scpeters , trying to clone a workspace from public_full_workspace.yaml gives following error:

=== ./shared_memory_transport_sliderboard (git) ===
Could not clone repository 'git@github.com:NASA-JSC-Robotics/shared_memory_transport_sliderboard.git': Cloning into '.'...
ERROR: Repository not found.
fatal: Could not read from remote repository.

Please make sure you have

[2016-01-18 14:57] pstrawse commented on #9
There was a permissions issue.  The permissions for this repo has been updated and this issue should be fixed.

[2016-01-18 21:56] jlack1987 commented on #9
Tested just now and can confirm the sliderboard is clone successfully.

[2016-01-18 21:56] #9 closed

[2016-01-21 04:21] mauricefallon opened #10 "Which IMU is on Val?"
@MathisFrankB : Is this the IMU used on Val?
http://www.microstrain.com/inertial/3dm-gx4-25

And do you use this driver?
https://github.com/NASA-JSC-Robotics/imu_3dm_gx4_15

Does the RS232 and USB behave differently? Or is it fine to do for the USB version

[2016-01-21 04:44] MathisFrankB commented on #10
The imu on val is the 3dm-gx4-15:
http://www.microstrain.com/inertial/3dm-gx4-15

You are correct about the driver being used.

The difference between the usb and the RS232 is in the com side of the imu. For using the RS232 the baud rate must be specified. Additionally we will run through the RS232 interface through a turbodriver and then that will use robonet to move data to the computer.

When t

[2016-01-28 15:00] #10 closed

[2016-01-29 00:57] scpeters opened #11 "Trouble running feature/ModifiedControllerTest"
I've been trying to test the `feature/ModifiedControllerTest` branches in

* val_controllers
* val_deploy
* val_gazebo

When I try to launch `val_gazebo val_sim_pinned.launch`, I see the following error that makes me think a controller is not loading properly:

[code]

@hsu @MathisFrankB

[2016-01-29 00:58] scpeters commented on #11
This link might be relevant, but I have no prior experience with lua, so I'm at a loss:

* http://lists.mech.kuleuven.be/pipermail/orocos-users/2013-July/007328.html

[2016-01-29 15:00] jlack1987 commented on #11
@dustingooding is our in house orocos/lua expert, and a quick look by him leads us to believe you might be missing a .rttlua file in your home directory. Can you verify that you have the file ~/.rttlua and that its contents are something like the following:

require("rttlib")
rttlib.color=true
require("complete")

[2016-01-29 18:12] scpeters commented on #11
I definitely don't have that file in my home folder. I'll try creating it. If this is required, we should document it somewhere.

[2016-01-29 18:19] scpeters commented on #11
Ok, that helped; I'm getting a little farther. Now I see:

[code]

I see the following command recommended in a [comment in startupRemote.lua](https://github.com/NASA-JSC-Robotics/val_deploy/blob/develop/scripts/startupRemote.lua#L46-L53):

[code]

I'll try that now. Again, I recommend that the documentation include these steps.

[2016-01-29 18:20] jlack1987 commented on #11
It is documented [here](https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Get-Valkyrie-Code). If you click the link to [Setup Valkyrie Development Environment](https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Setup-Valkyrie-Developer-Environment) on that page and follow the steps there it will set it all up for you and create that file

[2016-01-29 18:26] scpeters commented on #11
Good point. I didn't follow all those steps. I see that the `.rttlua` is part of the `nasa-indigo-workspace_1.0.0_amd64.deb`

[2016-01-29 18:31] scpeters commented on #11
I see that the `rosdep` command would have installed `lua-posix` as well.

[2016-01-29 23:39] scpeters commented on #11
It works if you follow the instructions.

[2016-01-29 23:39] #11 closed

[2016-01-29 23:54] kodyensley commented on #11
Awesome, thanks for testing those out!

[2016-01-30 01:18] dustingooding commented on #11
There's a PR on val_deploy that's related to this, and that I'm not
necessarily opposed to.  We'll talk about it internally, and potentially
change the instructions a bit.  But yes, thanks for validating them!

On Fri, Jan 29, 2016, 5:54 PM Kody Ensley <notifications@github.com> wrote:

[2016-01-30 01:51] scpeters opened #12 "Valkyrie simulation instability, lack of joint damping, friction"
@hsu and I have been investigating some reported simulation instabilities of valkyrie. We are using the `feature/ModifiedControllerTest` branches of `val_controllers`, `val_deploy`, and `val_gazebo` ([workspace here](https://github.com/scpeters/val_workspaces/blob/bdbbc37e5d/val_pinned_sim.yaml)) and launching `val_gazebo val_sim_pinned.launch`.

The following links are password-protected videos.

[2016-01-30 01:51] scpeters commented on #12
cc @MathisFrankB

[2016-01-30 01:57] scpeters commented on #12
change default SOR parameter and iterations in https://github.com/NASA-JSC-Robotics/val_gazebo/pull/1

[2016-01-30 22:52] dljsjr commented on #12
I can look in to if we did anything outside of the defaults for Atlas in gazebo but I don't know that we did.

[2016-01-30 23:58] jlack1987 commented on #12
I suppose I don't mind adding artificial damping to the joints if it's the only way to  make the sim behave, just a bit of a pain since it's more parameters that differ between the actual robot URDF and the sim robot URDF since the actual damping/friction on the output of the real robot is actually crazy low. Also then people need to be careful to make sure they don't use the sim URDF when computi

[2016-01-31 00:08] dljsjr commented on #12
My thought on it, which might be a little reductionist, is that that the sim model shouldn't differ from the physical robot model just to accommodate the physics. Obviously this doesn't always work, we've had to make hacks to robot models in the past to get them to work in Simulation Construction Set's physics as well, but it makes me sad face every time we have to do it.  If it's the only way to

[2016-01-31 06:23] scpeters commented on #12
If the actual robot has very little damping, that's great. The goal is to match the real behavior. Probably  what we need instead is a reference for what the real robot behavior looks like when the `feature/ModifiedControllerTest` controller is applied, since we're currently in the dark on that. It looked like the damping was low, so I just mentioned that, but we really should be trying to match s

[2016-01-31 15:26] jlack1987 commented on #12
Alright we'll see if we can get a reference on it this week for you guys.

[2016-02-01 11:23] iamwolf commented on #12
We didn't change the damping but got it to behave by increasing iterations from 100 to 500-1000. Alternatively, DART or Bullet do the job but require compiling from source - ODE has been more prone to misbehave in our tests. I'd be interested to learn how much the sim matches the real robot as well.

[2016-02-01 23:02] hsu commented on #12
I just want to reiterate Steve's comment here, the main change here that stabilizes the solver was reducing `sor` from 1.3 to 1.0. Higher values of `sor` at 1.3 was causing the simulation to be unstable. Joint viscous *damping* does not need to be changed.

On the topic of damping... joint damping does not appear to be necessary for stability for the test scenario I am running under `val_gazebo`.

[2016-02-02 00:16] iamwolf commented on #12
Thanks hsu for the insightful explanation, much appreciated - I learnt a lot

[2016-02-02 15:50] jlack1987 commented on #12
Our complex, pushrod actuated joints(torso/ankles) don't have gear boxes. Any "gearing" with those joints is done via a really low friction lead screw. The other simple 1-DOF joints do have gear boxes; however, our force/torque sensor is downstream of all of this stuff, so almost all of the friction and natural damping is compensated for in the actuator control, resulting in joints with extremely

[2016-02-02 18:44] MathisFrankB commented on #12
Here is a video of us running the joint position controller on the robot. We made some slight modifications to make it safe for the robot, but if you pull and updated version of the branch feature/ModifiedControllerTest you will be able to launch the exact controller used in the video in simulation:  https://youtu.be/ue51i2MOuik

[2016-02-02 19:17] scpeters commented on #12
One thing I noticed from the video is that the harness is attached to the torso, while in the simulation, the pelvis is pinned. Should we pin the torso instead of the pelvis in the simulation?

[2016-02-02 19:57] hsu commented on #12
Thanks for the great video! A picture is worth a thousand words, so at 30fps...

The changes I would like to propose here is below (to be added to the world file):

[code]

note that `contact_max_correcting_vel` was also set too low and truncating necessary constraint torque for joints to stay together.

[This is how I arrived at these values](https://youtu.be/j0jCCcgLyEA), once we establish more

[2016-02-02 20:14] jlack1987 commented on #12
Yeah that sounds good to us

[2016-02-03 00:10] hsu commented on #12
what branch of `val_gazebo` should we create the PR towards?

[2016-02-03 01:41] jlack1987 commented on #12
Make the PR to develop and we'll pull that into any feature branches that need it

[2016-02-03 01:52] scpeters commented on #12
Should we also consider pinning the torso instead of the pelvis in the example world to better match the harness?

[2016-02-03 09:06] teaminline303 opened #13 "Valkyrie Source Code workspace file download issue"
curl -u $GITHUB_USER -H "Accept: application/vnd.github.raw" "https://api.github.com/repos/NASA-JSC-Robotics/val_workspaces/contents/public_https_full_workspace.yaml?ref=develop" > workspace.yaml
I get the following
 {
  "message": "Not Found",
  "documentation_url": "https://developer.github.com/v3"
}

Could there be any permission issues

[2016-02-03 11:42] jlack1987 commented on #13
@kodyensley can we confirm whether or not @teaminline303 has been given access?

[2016-02-03 14:25] jlack1987 commented on #13
@teaminline303 yeah it looks like you don't have access to the repo's. Which SRC group are you a part of?

[2016-02-03 20:21] hsu commented on #12
[val_gazebo pr 2](https://github.com/NASA-JSC-Robotics/val_gazebo/pull/2)

[2016-02-03 22:33] jespersmith commented on #12
Just a heads-up, we had problems with running our controller on Atlas during the VRC with high simulated joint damping. Our controller does not like it, hence we requested settable damping parameters during the VRC.

A simplified model of the actuator could be a torque source with a low-pass filter. However, our controller will work better with infinite bandwidth in simulation.

[2016-02-04 02:04] teaminline303 commented on #13
I am working with Rob Platt at Northeastern Univ.

[2016-02-04 16:25] #13 closed

[2016-02-04 20:31] hsu commented on #12
@jespersmith Thanks for the info. For VRC, the default joint damping values for some of the Atlas joints were set conservatively high at first with lack of systems identification for damping; but it turned out the solver remained stable with a more relaxed range of joint damping values while running the *random joint torque unit test* we had implemented, thus we allowed teams to choose damping val

[2016-02-04 20:47] jlack1987 commented on #12
We have done a significant amount of sys-id to get a good mass model, but have not done any joint friction/damping identification.

[2016-02-27 14:27] #12 closed

[2016-02-29 12:06] nasa-valkyrie-robot opened #14 "python workspace_checkout script doesn't automatically checkout to the val_indigo workspace"
@pstrawse the workspace_checkout python script checks out the code to . instead of ~/val_indigo. Since we require that our code live in the ~/val_indigo directory, this script should put the code there

[2016-02-29 14:23] dustingooding commented on #14
I highly recommend we find a way to use vcs instead of this one-off script.

On Mon, Feb 29, 2016, 6:06 AM nasa-valkyrie-robot <notifications@github.com>
wrote:

[2016-02-29 18:52] pstrawse commented on #14
@dustingooding There is a problem with using VCS in that it does not really support the multi-username / password thing.  I believe it was brought up with the developer, and the response was, "That's not a use-case that is covered".  When doing `vcs checkout`, the terminal gets pretty hosed.

This script is a work-around to make it easier / consistent to check out code either inside, or outside th

[2016-02-29 18:54] pstrawse commented on #14
The script simple checks out the code where the workspace file is.  If ALL the instructions on the wiki are followed, you won't have an issue with code getting checked out to the wrong place.  Hard-coding the path for the system is already a bad idea.  Making utilities like this adhere to the same structure is just worse.

[2016-03-01 11:33] kodyensley commented on #14
Hmm, we did run into issues using this. We have to setup some other systems. I'll take a closer look then.

[2016-03-03 11:56] mauricefallon opened #15 "uoe: yaw wandering. much worse than during training in January"
The yaw estimate wanders around dramatically when the robot is standing still. By wander I mean shifting ~5 degrees left and right over about 10 seconds - directly after the execution of a whole body plan. It seems to be that the compensation filter is perturbed by the motion

SCS log and some quick videos:
http://terminator.robots.inf.ed.ac.uk/public/scs/2016-03-03-yaw-wandering/

One video is fr

[2016-03-03 11:57] mauricefallon opened #16 "uoe: control crashes when executing arm reaching plans"
Reposting this issue here:
https://github.com/ihmcrobotics/ihmc-open-robotics-software/issues/17

[2016-03-03 12:24] jlack1987 commented on #14
@kodyensley this one is fixed correct? Just want to confirm with you before I close it out

[2016-03-03 12:26] kodyensley commented on #14
Yeah, this is resolved.

[2016-03-03 12:31] jlack1987 commented on #15
Just a note, there is no EKF on the IMU. We haven't been able to get very good performance out of the microstrain EKF. Usually results in her shaking around and falling over. It's currently using a complementary filter which results in the yaw drifting all over the place.

[2016-03-03 12:34] #14 closed

[2016-03-03 15:48] raluca-scona commented on #15
I ran the Pronto state estimator on the yaw wondering log:

http://terminator.robots.inf.ed.ac.uk/files/yaw_wondering_pronto_top.mkv

The gold robot is the IHMC estimate and the white one is the Pronto one. In the plot on the right hand side, yaw [POSE_BDI] represents the yaw from the IHMC estimate and yaw [EST_ROBOT_STATE] represents the yaw from Pronto. For this log it seems that the wandering i

[2016-03-14 18:14] #15 closed

[2016-03-14 18:23] mauricefallon opened #17 "uoe: occasional spurious joint angle measurement"
We have noticed very occasional spikes in the controller behaviour which we have now pinned down to the joint position reported from NASA containing a corrupted reading.

In this short log for a single tic the hip joint reads a joint angle of zero:
http://terminator.robots.inf.ed.ac.uk/public/scs/20160314_170257/20160314_170257_ValkyrieRosControlController_UOEPossibleMissedTickFromNASA.tar.gz

[2016-03-14 18:25] mauricefallon commented on #17
Tic 1:
![tic1](https://cloud.githubusercontent.com/assets/6404227/13755186/e3ec8dd2-ea11-11e5-9ca0-2fcb24da8750.png)

Tic 2:
![tic2](https://cloud.githubusercontent.com/assets/6404227/13755189/e78f0eb0-ea11-11e5-8494-b2540d318d24.png)

Tic 3:
![tic3](https://cloud.githubusercontent.com/assets/6404227/13755191/eaa7f198-ea11-11e5-8f4b-78de975dbfe5.png)

What could be the source of this issue?

Note:

[2016-03-14 20:24] jlack1987 commented on #17
Nice catch @mauricefallon, have you caught it more than once and if you have is it always in the same joint that you see the spike?

[2016-03-14 20:43] jlack1987 commented on #17
talked a bit with @jjholley and @MathisFrankB and we have a few questions. When you say you have a "log of the raw ROS messages from NASA", do you mean like a rosbag of the /joint_states topic that we publish? If so do you see it happen there also?

[2016-03-14 20:50] mauricefallon commented on #17
We have noticed it a few times before. It never causes a fall but it causes the robot to screech and sway. I'll send more logs when we observe it again. (difficult to find in the current logs)

Yes, I see it on the /joint_states topic. (Actually its /joint_states logged in an LCM log)
So I am confident that its unrelated to IHMC.

[2016-03-14 21:02] jlack1987 commented on #17
ok cool, if it's seen in the /joint_states that we publish then it's definitely coming from us and not IHMC as long as the /joint_states your logging is coming from us which I assume it is.

Next time you see this could you turn off logic power which will cause our logger to dump a log file to the NAS to /media/val_smt_logs. Could you send that to us?

[2016-03-14 23:31] jlack1987 commented on #16
@iamwolf what's the status of this issue?

[2016-03-14 23:58] iamwolf commented on #16
Resolved as of today. Thanks for checking in and apologies for not closing
it earlier along with the other issue.

On Monday, 14 March 2016, jlack1987 <notifications@github.com> wrote:

[2016-03-15 13:08] jlack1987 commented on #16
No worries, glad it got taken care of!

[2016-03-15 13:08] #16 closed

[2016-03-15 19:41] hsu opened #18 "smtcore syslog error"
I am running into this issue when trying to start the val robot in sim, narrowed down

[code]

to this node:

[code]

If I create a directory: `/dev/log`

the error becomes:

[code]

Any hints what I might be doing wrong?
Thanks.

[2016-03-15 20:06] dustingooding commented on #18
Do you have a syslog process running?  Preferably syslog-ng?

On Tue, Mar 15, 2016, 2:41 PM hsu <notifications@github.com> wrote:

[2016-03-15 20:17] hsu commented on #18
How do I start the process?

[code]

returned empty for me.

[2016-03-15 20:48] dustingooding commented on #18
Assuming Ubuntu Trusty:

`sudo apt-get install syslog-ng`
`sudo start syslog-ng`

On Tue, Mar 15, 2016, 3:17 PM hsu <notifications@github.com> wrote:

[2016-03-15 21:27] mauricefallon opened #19 "Provide a method to access tare values or to apply tare to the raw signals before exposing them"
Currently taring the force torque sensors is only available within the IHMC's own controller (IMO). So this makes it impossible to use the sensor properly outside of it.

Some solutions:
- NASA taring the sensors internally and only expose post-tared values via a service call.
- NASA providing a method to receive the set of tare values. (Advantage: could re-tare when walking)
- IHMC expose the tar

[2016-03-15 21:30] mauricefallon commented on #19
BTW, some information about the amount of drift we might expect would be good.
(I think @jlack1987 suggested the sensors can drift after some time)

[2016-03-16 03:14] hsu commented on #18
`syslog-ng` was installed already, but I didn't have too much luck with `start syslog-ng`. In the end, I found running `syslog-ng` on commandline does indeed spawns a daemon and now smtcore doesn't crash anymore. This might be a quirk with docker (that's where I am testing things). Thanks for your help!

[2016-03-16 13:51] jlack1987 commented on #19
This will likely make it into our next iteration, so a fix should be in for this sometime next week if not early the next.

[2016-03-16 17:00] dustingooding commented on #18
Ahhhhh docker.  Why didn't you say so.

You need to volume mount your host's /dev/log into your container.

`docker run -it -v /dev/log:/dev/log` etc etc

That'll allow your docker process to write log files to your host's logging
system.

On Tue, Mar 15, 2016 at 10:14 PM hsu <notifications@github.com> wrote:

[2016-03-16 21:37] hsu commented on #18
got it, just starting to work with docker myself actually, thanks for the info!

[2016-03-17 01:24] dustingooding commented on #18
Let us know how it goes.  We're using docker for building CI artifacts, but
not for robot control code execution.  That's something we're working on
behind the scenes through.  I bet @kensley would be interested in this too.

On Wed, Mar 16, 2016, 4:37 PM hsu <notifications@github.com> wrote:

[2016-03-17 16:14] kodyensley commented on #18
Yeeeelllllooo? Someone mentioned Docker?

[2016-03-21 22:20] hsu commented on #18
Hi @kodyensley Yes, we are making a docker image to test val_workspaces with gazebo7. How are you guys using docker currently? I can share with you the build script I am hacking on (currently reside in another private repository), but probably not the docker image easily since many of the repositories are still private. Send me an email and we can take this offline.

Which leads me to *the questio

[2016-03-23 12:03] mauricefallon opened #20 "Reporting only active joints states"
The robot currently has 26 active joints and with the hands on would have 52. The joint states published by NASA and IHMC don't seem to be standardised. This is a real pain when wanting to use different combinations of hands, neck and arms.

1. Currently NASA's joint_states msg reports 52 joints
 - excluding the 4 wrist joints for some reason
 - **Request:** Only the 26 active joints should be rep

[2016-03-23 12:04] mauricefallon commented on #20
@wxmerkt  @patmarion  @symplectomorphism

[2016-03-23 12:10] wxmerkt commented on #20
https://github.com/ihmcrobotics/ihmc-open-robotics-software/issues/23 is related to (2) and (3)

[2016-03-23 13:42] jlack1987 commented on #20
cc @MathisFrankB

[2016-03-23 13:48] MathisFrankB commented on #20
Messages published by the valkyrie API are more of a debug message on our part. We will soon be changing it to not actively publish at all times (unless we set a debug argument for the manager) to prevent confusion. We will additionally be changing the topic name of the published data to no longer take the special /joint_states name.

[2016-03-23 16:37] mauricefallon commented on #20
Thanks @MathisFrankB - we will avoid using those messages but they are our only source for lowlevel data outside of the IHMC controller.

In that, case its important for IHMC ( @dljsjr ) to correctly publish the joints its actually controlling. As well as other signals.

As I understand it, its not possible for a purely passive driver/'ros_controller' to access sensing (joint states, F/T and IMU d

[2016-03-24 13:48] MathisFrankB commented on #20
@mauricefallon - if you would like we can add a publisher to publish joint, imu, and F/T vlaues we are getting. The issue with the current published values is where in the process it is done, and what values are being grabbed, as well as the naming of the published topics (with /joint_states being a special topic in ros).

[2016-03-24 14:29] dljsjr commented on #20
There are two issues here that pertain to IHMC:

1. Allowing outside parties to tell our controller which joints *not* to control
2. Not publishing joint data for joints we don't control

Number 2 is fairly simple if you only care about it from the IHMC ROS side of things. It gets much more complicated if you want us to exclude it from the pure Java packet API or from SCS.

Number 1 is a complicat

[2016-03-24 14:36] mauricefallon commented on #20
You currently have one dont you? This is just to make modifications.

We don't care about the topic names. That's easy for us to fix.

For each signal the 'what is being grabbed' is different. For the imus there is little choice except perhaps to accept a yaw bias estimate to correct for yaw drift but I think what is in place is correct. IHMC are doing a good job with that.

For the FT sensor it w

[2016-03-24 15:26] mauricefallon commented on #20
(Travelling this weekend)

I think this would be best resolved with a short telecon. What about next week?

We have primarily implemented neck and arm control because we haven't gotten any time frame or road map from IHMC about its implementation through the Scs controller. (Issues with neck control were first pointed out in November and again in JSC in January. ) Implementing it ourselves has bee

[2016-03-24 15:49] dljsjr commented on #20
Neck control from the JSC side was still a working but still in-development feature in January. Now that it's stable, the timeline we gave @kodyensley over the phone and @wxmerkt on https://github.com/ihmcrobotics/ihmc-open-robotics-software/issues/23 was to have the neck working this week, which we are still planning on. But a lot of the "delays" come from the universal request to have us *not* r

[2016-03-24 15:52] dljsjr commented on #20
To be clear, we *can* release the new API on a development branch, but the problem is splitting effort. Since we've been asked to continue to support the existing API, this has required us to invest development effort in some of the wrapper layers. We can support both APIs for a little while but it means that the "next-gen" API takes a back seat while we clean up the current-gen API and ROS packag

[2016-03-24 17:57] MathisFrankB commented on #20
Our api does not support the loading of multiple controllers trying to utilize the same claimed resource (such as controlled joints). That way we guarantee that only one controller is sending us commands.

We are just finishing implementation that allows the user to tare the force torque sensors through our api. We are also providing handles that give the tared value and the offset used to tare.

[2016-03-24 18:47] dljsjr commented on #20
@MathisFrankB I was more asking about multiple "readers", not writers, e.g. multiple controllers accessing the same JointStateInterface rather than the same JointCommandInterface. I'm not sure how you've implemented your joint interfaces though.

[2016-03-24 22:12] MathisFrankB commented on #20
yes, if they want to grab a joint state interface then they can. The joint state interface is unclaimed. Additionally it is a separate handle then the JointCommandInterface.

[2016-03-25 15:19] dljsjr commented on #20
So it sounds like the solution for toggling between us doing control and us handing over control is to switch between claiming the JointCommandInterface and the JointStateInterface. Can more than one controller access a JointStateInterface?

[2016-03-25 20:56] kodyensley commented on #18
I tried to find your email, and by tried I mean I looked for a hot minute and then life happened. Please email me at kody.g.ensley@nasa.gov and we'll take this offline. Thanks

[2016-03-28 14:20] MathisFrankB commented on #20
I did a quick test to make sure I wasn't going to tell you the wrong thing. Multiple controllers can get the same JointStateInterface since it is not a claimed.

[2016-04-01 17:31] jlack1987 commented on #17
Alright @mauricefallon, we have finally observed this one in one of our own data logs here at JSC on another robot. This just means the issue is definitely on our side. We have a fix for it but want to do a bit more investigating to make sure we put the fix at the proper level. We'll let you know when we have pushed a fix in code.

[2016-04-01 17:36] mauricefallon commented on #17
sure, BTW, we have seen it regularly since, but haven't bothered to isolate the snippet. I assume you dont need further evidence.

[2016-04-01 18:22] jlack1987 commented on #17
Yeah we have everything we need data wise. We are going to do some poking around to figure out exactly who is the culprit(synapse driver, turbodriver, API, etc), but we have everything we need and will get a fix out some time soon. Keep in mind though that we are delivering more robots soon, so it might be a few weeks before we get a chance to run all the tests we have planned.

[2016-04-01 18:33] wxmerkt opened #21 "rttlua in val_gazebo's controller manager dies occasionally"
As on Slack, controller_manager and val_gazebo alike both have rttlua occasionally dying upon loading a controller - independent on whether it's the IHMC controller or any of our own controllers. As a starting point, we've noticed that it reliably crashes when reading state or sensor handles that are not present (but we are iterating over the names that we get). Did not yet single in on a hunch/id

[2016-04-01 19:40] MathisFrankB commented on #19
So we are finishing this up, here is how the new interfacing works.
-each force torque sensor has a handle (the one that is currently grabbed by IHMC) which will give
  the biased force torque values.
-each force torque sensor has an offset handle which gives the bias that is currently being applied to
  the first handle.
-There is a mode service command ('Tare') for each sensor which will tare th

[2016-04-01 20:51] wxmerkt commented on #21
nasa_common_logging is empty/does not contain any information related to rttlua. We will wrap our getHandle in a try-catch-block for now and report back

[2016-04-02 12:38] mauricefallon commented on #19
By "biased force torque values" I assume you mean the raw measurements?

@dljsjr :
- Will IHMC use this tare interface i.e. will pressing tare in the IHMC Control UI make a call to the mode service. (If so we can access that tare value ourselves from NASA's API)
- Will biased or unbiased measurements and the tare value be available via the new ROS api

[2016-04-02 12:44] mauricefallon commented on #19
One other question: @MathisFrankB : have you had any evidence of the F/T values drifting over time?
I think Jordan suggested that they might but I didn't ask further.

So could some fancy "taring while walking" be needed?

[2016-04-02 13:42] jlack1987 commented on #19
Both the tared F/T values as well as the F/T offsets used for taring are available on a ROS topic. @MathisFrankB has also provided a service call for "untaring" the sensors if you ever want to do that.

Also yes the sensors do drift a bit over time, so some fancy taring will be needed for operating for long periods of time. The pressure pads in the feet should help with this once we have them read

[2016-04-02 17:53] wxmerkt opened #22 "Right lower arm joints have reversed axes"
As reported on Slack, the joints of the right lower arm have their rotation axes reversed, cf.

[![Video](http://img.youtube.com/vi/3HM3RhL0dJ0/0.jpg)](http://www.youtube.com/watch?v=3HM3RhL0dJ0)
https://www.youtube.com/watch?v=3HM3RhL0dJ0

We've so far seen this for:
- all pitch joints
- forearm yaw

[2016-04-02 20:12] MathisFrankB commented on #19
I am in favor of making the ati reading more robust to drift. At the moment we do not have a solution for that, but it is something we can look into.

If it would be preferred to send through the raw value then let me know. When I say the tared value and the offset are being passed through, I mean that if you want to get the raw value you calculated it with
raw value = tared value + offset

[2016-04-04 11:46] mauricefallon opened #23 "URDF with stubs?"
We see that val_description has "no hand" versions. Do these hand have stubs or do they terminate just below the elbows?

I'd like to be able to create URDFs with the stubs accurately rendered: for collision free planning and for balancing using the arms (in future)

[2016-04-04 12:32] jlack1987 commented on #17
Just pushed a fix to this yesterday. It looks like the cause lies somewhere in our code for the synapse driver. We have some work going on to refactor all of our synapse code, so the true fix to this will come later. For now we have implemented a glitch filter that will remove the glitches. We did some limited testing and found that it works pretty well.

A few things to keep in mind. When a glitc

[2016-04-04 13:46] wxmerkt commented on #21
One case is not catching unexpected packages from the IMU:
[code]

[2016-04-04 13:51] MathisFrankB commented on #23
The no hands urdf stops at the j5 joint (which is the base of the forearm). We currently do not have a urdf with the forearm mass sims in them.

[2016-04-04 15:32] jlack1987 commented on #23
I have been thinking about getting rid of the "no hands" urdf's completely and replacing it with a model that has the mass sims. Shouldn't be difficult to do.

[2016-04-04 15:51] mauricefallon commented on #23
Ok, BTW we don't use the no hands version. The models with mass sims would be useful

[2016-04-04 18:20] dljsjr commented on #19
Sorry for the late response on this. The only blocker to us using the JSC provided interface in to the F/T sensors is that the taring/offset **feedback** data (and in the future I'm assuming also the bias/drift feedback) is not available via the ROS Control handles. Subscribing to ROS topics is not a real-time safe operation and so we can't put it in the control or state estimation loops, where we

[2016-04-05 09:56] mauricefallon opened #24 "Force torque sensor drift causes the robot to stamp"
We've regularly observed that Valkyrie begins to stamp after some time walking. I believe that it is because the F/T sensors are drifting - a very small drift of 20-30N is enough to cause the problem.
We had a similar classifier on Atlas. This is aside from https://github.com/NASA-JSC-Robotics/valkyrie/issues/19

This is an example of 3 steps where the left foot stamped in the middle:
![leftfootfo

[2016-04-05 12:24] jlack1987 commented on #24
Yeah @mauricefallon the stomping is due to drift in the six axis load cells in the feet. You can find the contact threshold force in ValkyrieWalkingControllerParameters.java.

The sensors in Valkyrie's feet are the [ATI mini 58](http://www.ati-ia.com/products/ft/ft_models.aspx?id=Mini58) I think. Not sure what sensors Atlas used.

[2016-04-05 21:39] mauricefallon commented on #24
Thanks @jlack1987 I think this confirms my assumption. We are frustrated because this (tiny) issue sits in between NASA and IHMC and we can't fix it ourselves but it causes regular falls.

Could you discuss with @SylvainBertrand or @dljsjr and figure out a resolution?

[2016-04-05 22:14] hugomatic commented on #18
There's a new syslog related issue:
catkin_make is failing when it is executed during a docker build command. This is because docker build cannot use syslog.

`
[ 71%] Generating include/shared_memory_transport_sliderboard/moc_MainWindow.cpp
Traceback (most recent call last):
  File "/root/ws/devel/bin/api_builder", line 6, in <module>
    exec(fh.read())
  File "<string>", line 28, in <module>

[2016-04-06 01:57] dustingooding commented on #18
@hugomatic docker is only capable of running one process in a given container.  now, some people get fancy and start something like a shell, and then you can interact with that single-process shell... but when you start wanting to run services like syslog-ng, you can't really do that.

as above, start your docker container like this:

`docker run -it -v /dev/log:/dev/log etc etc`

[2016-04-06 05:19] hugomatic commented on #18
@dustingooding, thanks for pointing that out, it solves the problem when running the container (using the "docker run" command). However our problem is during build (using the "docker build" command).

Our Dockerfile runs catkin_make, and that is trying to use syslog. So catkin_make fails and the container is not built. The container was building last week, so it looks like this use of syslog duri

[2016-04-06 14:24] kodyensley commented on #18
With prior commitments I haven't been giving this thread my attention, my apologies. So what I've found for our setup, docker build is best to create a static base image. From there, start it up and run scripts/execs what have you to get the docker in the running state you want. This is how we run our CI dockers. I build a base image that has things like Indigo/xacro/few build goodies, then when w

[2016-04-06 17:04] MathisFrankB commented on #22
We have pushed a change to val description that should correct this issue.

[2016-04-07 04:23] dustingooding commented on #18
The Python configuration of nasa_common_logging is a simple text file that
configures the "syslog" handler by default.  So lets try this...  Modify
nasa_common_logging/share/logging.json and remove the "syslog" element in
the root>handlers dictionary.  You can either do that prior to starting
your Dockerfile build (if you're building based on a local repo) or add a
simple 'sed' command to remove t

[2016-04-07 09:36] wxmerkt commented on #22
I've just pulled from val_description, nuked build, devel, install and re-run catkin_make. Then compared the resulting URDF to the one we previously had with meld. Did not see any change apart from the midfoot_rear collision groups being added, although I am seeing your modifications. Re-run a log on the new URDF and the visualisation problem did not go away.

Note, the resulting URDF is no differ

[2016-04-07 13:24] jlack1987 commented on #22
It's not an URDF change Wolf it's a change in the underlying finger transmissions I think, right @MathisFrankB ?

[2016-04-07 13:25] jlack1987 commented on #24
Yeah I think the best solution here is to bring in the information from the Hermes(pressure sensors on the feet) to help tare things intelligently.

[2016-04-07 13:28] mauricefallon commented on #24
Ok. By the way, with recent experiments we have seen, with the robot hanging, the force values drifting at about 1N every 30 seconds. So its seems like there could be a temperature effect.

[2016-04-07 13:30] jlack1987 commented on #24
Yeah we have definitely noticed a temp effect.I usually deal with this by turning the bot on right when I get in and let them warm up while.

I actually called ATI about this awhile back and in only a few more words they basically told us, "tough".

[2016-04-07 18:22] dustingooding commented on #18
@pstrawse would likely be interested in this, too.

[2016-04-08 17:18] jlack1987 commented on #17
Closing this one out as we have implemented a band-aid for it for now. Internal research for fixing the root cause will be ongoing though.

[2016-04-08 17:18] #17 closed

[2016-04-08 17:20] jlack1987 commented on #19
Doug has a point. What we have implemented is not real-time safe. We can look into possibly creating a custom force/torque interface that allows you to write a boolean to signal a tare or something along those lines.

[2016-04-09 01:28] hugomatic commented on #18
Unfortunately the json file is not used during catkin_make. Instead, a hardcoded common config is used.

These changes work for our use case:
https://github.com/NASA-JSC-Robotics/nasa_common_logging/pull/1
https://github.com/NASA-JSC-Robotics/shared_memory_transport_utils/pull/1

[2016-04-09 23:22] MathisFrankB commented on #19
Changing from a service call would actually be a change to the Mode Controller (I will double check if the service is threaded or not is done). The mode handle is actually exposed via a handle. The issue is that handle is defined in the jsc software. The Mode controller is currently started as part of the launch file for the controller manager. I am not against other parties grabbing these handles

[2016-04-10 17:41] MathisFrankB commented on #22
Yes and no. The change is in the transmission for the finger joints, but the change should appear in the transmission section of the urdf. I will take a look at this Monday.

[2016-04-11 08:28] mauricefallon commented on #24
I have the following data point from Atlas at the DRC finals:

This shows the left/right forces (in z) at the start and end of our DRC finals day 1 run.
At the start and again 30 mins later:
![mit_drc_foot_forces](https://cloud.githubusercontent.com/assets/6404227/14420392/c466ca78-ffc3-11e5-8cd8-01b876f1bcdd.png)
Videos: [Early](https://www.youtube.com/watch?v=QoqWmrQL4o0) [Late](https://www.yout

[2016-04-11 13:44] jlack1987 commented on #24
Adjusting the ATI sensor readings based on some data driven temp model would be great, but first we have to be able to sense the temperature down there. Since we don't have that sensing, it's going to be tough to compensate for it that way.

[2016-04-11 14:06] MathisFrankB commented on #22
@wxmerkt please open the following file: src/val_description/model/robots/forearm_right.xacro and see if the forearm yaw transmission reads like

<xacro:simple_forearm_position_transmission jointName="${ForearmYawActuatorName}" actuatorName="${ForearmYawActuatorName}" nodeName="${ForearmYawNode}" actuatorApi="${ForearmYawApi}" reflect="${reflect}"/>

[2016-04-11 14:07] MathisFrankB commented on #22
xacro:simple_forearm_position_transmission jointName="${ForearmYawActuatorName}" actuatorName="${ForearmYawActuatorName}" nodeName="${ForearmYawNode}" actuatorApi="${ForearmYawApi}" reflect="${reflect}"

[2016-04-11 16:43] pstrawse commented on #18
@dustingooding So this works for us because we aren't doing catkin_make inside a `docker build` command?

Looking at the PR, the only thing that gives me pause is that we will be suppressing the syslog during a build.  This might be ok since it is still logging to the screen, and that will show up in our build logs.  As long as we see api_builder log failures on-screen during a build, I'm ok with

[2016-04-11 18:27] mauricefallon commented on #24
I get your point :(

 When we get back running I'll do some analysis to put a figure on the N/min drift - that might be useful

[2016-04-13 17:10] jlack1987 commented on #22
@wxmerkt what's the status here? Has this been resolved on your end?

[2016-04-13 18:53] wxmerkt commented on #22
With the robot down for a week and busy diagnosing, I didn't get a chance to test and check it yet. Will put it on the list for tomorrow (it's below getting the robot functional and available for other users though). I'll be in touch.

[2016-04-13 18:57] jlack1987 commented on #22
Yeah no worries. I understand it's low priority. Just let us know whenever you get a chance. Thanks!

[2016-04-14 14:34] wxmerkt opened #25 "Have ui_builder commands pick up bashrc environment settings"
(As briefly discussed with Jordan)
Do commands sent through ui_builder, e.g. "start controller manager", pick up the bash environment configuration from .bashrc/.bashrc_nasa? If not, would it be possible for these commands to pick up the same environment configuration as a SSH shell?

[Our use case is picking up a LD_PRELOAD environment configuration.]

cc @jlack1987 @kodyensley @pstrawse

[2016-04-14 15:47] dustingooding commented on #25
"start controller manager" specifically is handled with vanguard, and vanguard does source the bash environment.  you can see specifically which file is being sourced in `/etc/init/vanguard.conf` (or something close to that)  note that vanguard is not running in an "interactive" session, so not everything in `~/.bashrc` is going to work, so it's likely sourcing `~/.bashrc_nasa` (or something close

[2016-04-14 19:01] jlack1987 opened #26 "The calibration UI can calibrate the forearm yaw joints"
The forearm yaw joints have not been added to the calibration UI, so you can't calibrate them.

Thanks @wxmerkt !

[2016-04-15 02:45] dustingooding commented on #18
That's correct @pstrawse, it works for us because we run `catkin_make` inside an existing docker image using `docker run` that has `/dev/log` volume mounted.

I really don't like the whole `--no_syslog` flag for api_builder in https://github.com/NASA-JSC-Robotics/shared_memory_transport_utils/pull/1.  (I also don't really like the `--debug` flag, either, FWIW.)  I want there to be a way to modify

[2016-04-15 04:03] hugomatic commented on #18
@dustingooding it was unfortunate of me to model  "--no-syslog" after the recent "--debug" flag. Please describe the fix on Pull Request page.

[2016-04-15 18:47] wxmerkt commented on #22
Fixed, thanks guys!

[2016-04-15 18:47] #22 closed

[2016-04-15 19:49] jlack1987 commented on #19
Going to go ahead and close this out. We are looking at reworking our mode stuff so we can offer a more real-time safe way of doing this. Until then, the service call stuff should suffice.

[2016-04-15 19:49] #19 closed

[2016-04-18 21:57] hsu commented on #18
I am curious, why is syslog functionality being invoked during build time? Can someone help me understand it in layman's terms? Thanks!

[2016-04-20 01:21] dustingooding commented on #18
We have a Python script that writes log data as a way of informing the user
of activity (as opposed to stdout).  We also have a common logging
configuration for all our Python and C++ code, and one of the default
destinations is syslog.  Put the two together and you have a script that
writes log data to syslog.  This script happens to be used during build
time to generate code/headers for other pa

[2016-04-21 13:53] jlack1987 commented on #26
We have pushed code that takes care of this and have tested it locally. Let us know if you find any issues, and if not we'll close this out.

[2016-04-24 09:56] mauricefallon opened #27 "Vicon marker mounting locations on Val"
As mentioned on slack, @jlack1987 : could you give the x,y,z positions of the illustrated M6 threaded holes? We want to mount Vicon markers precisely.

![2016-04-22 16 19 35-edit](https://cloud.githubusercontent.com/assets/6404227/14766667/e37070da-0a0a-11e6-9f3a-ed21c36fa6f6.jpg)

I'm making an issue because we will come back to this for the torso and hands.

[2016-04-24 15:42] ruckusrobotics commented on #27
Yeah sure thing. We are in Boston this week setting up the MIT bot, but when I get back i'll get you the location to these holes.

[2016-04-24 15:43] jlack1987 commented on #27
Yeah sure thing. We're in Boston this week setting up the MIT bot, but i'll get you the coords of these holes when I get back.

[2016-04-27 12:58] #26 closed

[2016-04-29 18:20] gizatt opened #28 "Thumb roll actuator command"
Issuing command to hardware_interface::JointHandle acquired from hardware_interface::PositionJointInterface for the thumb roll on our arm testbench ultimately results in a .../thumb_roll/desiredPodRad value (visible on smtdashboard) that is offset by an amount.

That is, when I issue a command through the roscontrol API for a thumb roll position of 0.5, the SMT desired position goes to 2.24. When

[2016-04-29 18:44] wxmerkt commented on #28
Have you checked that the actuator serial numbers are matching the stickers on the hand in the testbench_....xml file?

[2016-04-29 18:46] gizatt commented on #28
Yeah, they check out and I rebuilt to be sure.
On Apr 29, 2016 2:44 PM, "Wolfgang Merkt" <notifications@github.com> wrote:

[2016-04-29 18:48] wxmerkt commented on #28
We also had to nuke the ``build``, ``devel``, ``install`` directories before re-building because xacro didn't always replace them correctly in ``install``

[2016-04-29 18:55] gizatt commented on #28
I nuked everything too!

On Fri, Apr 29, 2016 at 2:48 PM, Wolfgang Merkt <notifications@github.com>
wrote:

[2016-04-29 22:01] tkoolen opened #29 "rosdep error: libflycapture2"
Hey, I'm trying to set up the Valkyrie software stack according to https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Setup-Valkyrie-Developer-Environment and https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Valkyrie-Source-Code. On the rosdep install step I'm getting:

[code]

Any ideas?

[2016-04-29 22:15] tkoolen commented on #29
I was able to work around this issue by deleting val_vision.

[2016-04-29 22:21] tkoolen opened #30 "Missing dependency: libffi-dev"
During the rosdep install step in https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Valkyrie-Source-Code, I got
[code]

Fixed by running `sudo apt-get install libffi-dev`

[2016-04-30 00:30] jlack1987 commented on #30
hmm I have never heard of that honestly, @kodyensley does this look familiar to you at all?

[2016-04-30 00:34] jlack1987 commented on #29
Yeah the val_vision is a package we had to create for the belly cams on Val due to incomplete install instructions from the PGR folks. Your not the first person to run into this, and I think the issue is due to the fact that we aren't allowed yet to give external access to our debians. Correct step is to just remove val_vision for now. Anything I left out @kodyensley ?

[2016-04-30 00:44] jlack1987 commented on #28
Could you create a log file of this and send it our way when you get a chance? Since this is on a testbench, you'll need to start the logger manually before you start running your controller. Before you get started, just run the command,

```smtlogger -r 500```

then proceed normally with running your controller. Once your done just Ctrl+C the logger and it'll dump a log file in place. If you coul

[2016-04-30 17:03] oh-dev commented on #29
FYI, We have LCM drivers for these cameras in the OpenHumanoids stack.

I think an issue with Point Grey cameras is that their API is proprietary. (Same as the fish eyes on Atlas)

[2016-05-01 19:35] jlack1987 commented on #30
Ok just an update on this, it looks like we have some unit tests that are failing due to this same issue, so we appear to have had a dependency slip through the cracks somewhere. Sorry about this, we'll get it updated as soon as possible.

[2016-05-02 13:36] tkoolen opened #31 "Can't install visualizer"
While following [this guide](https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Get-Valkyrie-Code), I tried installing the "MIT Vis02" visualizer, but I got this:

![image](https://cloud.githubusercontent.com/assets/2585880/14955591/98219848-1040-11e6-9d9a-d976b875bb8c.png)

Any ideas?

[2016-05-02 13:37] tkoolen commented on #29
OK, thanks for the info.

[2016-05-02 13:38] tkoolen commented on #30
No problem. Install process was pretty smooth despite these few minor issues, so kudos.

[2016-05-02 13:53] jlack1987 commented on #31
You tried installing this on your personal computer or what? The 'MIT Vis02' is specifically for your visualizer computer that's running the robot and is already installed. Also there is an actual link on that page for the debian 'MIT Vis02' that you want. Unfortunately we are not allowed to make our debs public, so we aren't able to make it all sudo apt-getable.

[2016-05-02 13:55] jlack1987 commented on #30
Thanks glad to hear. All credit goes to @kodyensley for that.

@kodyensley ++ for awesome configuration management skills

[2016-05-02 16:28] #29 closed

[2016-05-02 16:36] tkoolen commented on #31
Yup, I'm just a robot following instructions to the letter and this looked like it needed to be done ;-)

[2016-05-02 16:36] #31 closed

[2016-05-02 16:45] jlack1987 commented on #31
Did you download the debian [here](https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Setup-Valkyrie-Developer-Environment). It's the debian under the 'Generic System Config' link

[2016-05-02 16:58] tkoolen commented on #31
Yeah, I downloaded the generic system config one. I really just followed instructions word for word. I closed the issue because clearly I wasn't supposed to do the MIT vis step anyway.

[2016-05-02 17:29] jlack1987 commented on #27
Here is the same image with the cartesian position of those points marked. I marked the two on the pelvis bone on the robots right side, but didn't mark the left because they are just mirrored, so you can just negate the y-component of the ones on the left to get the ones on the right. Let me know if ya need any more!

![pelvis_mounting_points](https://cloud.githubusercontent.com/assets/6334699/14

[2016-05-02 18:00] MathisFrankB commented on #28
There is no temperature sensing on the thumb roll motor. The -32768 is a saturated value. The values that you can command the thumb roll to depend on the arm being used. Please specify which forearm that you are using so we can investigate this on our testbench (right or left).

[2016-05-02 18:13] jlack1987 commented on #31
Ok I think  I see the issue. It's not so clear that unless your installing a visualizer computer, you don't need to continue after checking out our code. I have put a clarifying statement in the wiki that will hopefully prevent others from making the same mistake.

[2016-05-02 20:33] gizatt commented on #28
It's a left forearm, serials v_g_007 and v_h_003. I'll edit this to link to the log in a minute

In the log, I: roslaunch the val_controller_manager, load in my command plugin, cfgLoader and streamFunctions in the configuration info, reset->park->positionMode both athena boards, and then issue a series of commands to the thumb roll to try to make it move back and forth. I also issue some commands

[2016-05-03 14:54] tkoolen opened #32 "roswtf issues"
After a clean install I ran `roswtf` to try to debug a val gazebo sim issue. It reported some issues (that were probably not related to the gazebo sim).

Missing dependencies:
* roslang (resolved after `apt-get install ros-indigo-roslang`)
* angles (resolved after `apt-get install ros-indigo-angles`)

I still have the following error:
[code]

[2016-05-03 17:19] hsu commented on #32
Is this a roswtf bug? This message seems to say `/opt/nasa/indigo/share` does not exist or is not a directory on your computer, is that the case or is roswtf confused?

[2016-05-03 20:11] tkoolen commented on #32
That directory does not exist on my computer. Could it be something that snuck in on a JSC computer?

This isn't high priority by the way; as far as I know it's not causing anything to malfunction.

[2016-05-03 20:31] jlack1987 commented on #32
That directory should exist on your computer. I think it's created when you execute,

```sudo dpkg -i nasa-indigo-workspace*.deb nasa-val-system-config*.deb python-pyqtgraph*.deb```

Do you recall if that command was successful?

[2016-05-03 20:42] tkoolen commented on #32
I believe those commands were successful. I'll try to rerun them. `/opt/nasa/indigo` exists, but it doesn't contain a `share` folder (only `env.sh  etc  setup.bash  setup.sh  _setup_util.py  setup.zsh`)

[2016-05-03 20:46] tkoolen commented on #32
reran that command, completed without error, `/opt/nasa/indigo/share` still doesn't exist.

[2016-05-03 20:59] kodyensley commented on #30
Hey guys,

I traced this down to a new version of python-paramiko. It seems it was built against the libffi-dev package and not the libffi6 package. I've amended our install tree to pull this in automagically for now but I'm adding a standard disclaimer: "Not our fault".

The instructions on the github wiki should be amended 'soon'. I'm just trying to test all the edge cases to ensure something el

[2016-05-03 21:03] jlack1987 commented on #32
hmm ok, might need to bring in the big guns. cc @kodyensley

[2016-05-03 21:14] kodyensley commented on #32
As to the missing debs listed by @tkoolen, I believe those may be an issue with us removing the 'ros-indigo-ros-base' dependency from our install tree. None of 'our stuff' requires that to be installed so we removed it. Seems like there are more than a few ROS things that don't properly hunt down their own deps? We've added ros-indigo-ros-base back into our install instructions for now. We'll revi

[2016-05-03 21:17] kodyensley commented on #25
Any thing else needed for this or can it be closed @wxmerkt?

[2016-05-03 21:35] tkoolen opened #33 "Gazebo sim errors related to libati_sensor_interface.so"
I'm having issues with the Gazebo sim. Everything _seemed_ to be working OK yesterday when I installed everything (followed https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Simulating-Valkyrie, both the floating base sim and the pinned sim ran), but now I get errors in the console and Gazebo only shows a black screen.

Command:
[code]

Notable console messages:
[code]

so that seems to be pointi

[2016-05-03 22:00] wxmerkt commented on #25
We never fully resolved this and are using a workaround which also allows us to see the stdout of controller manager (quite useful). Happy to close this

Sent from my iPhone

[2016-05-03 22:11] jlack1987 commented on #33
This has actually happened to me a few times today and yesterday. It only happens once in awhile so I have kinda just been ignoring it

[2016-05-03 22:11] #27 closed

[2016-05-03 22:14] tkoolen commented on #33
which of the (possibly separate, possibly connected) issues have you encountered? The libati_sensor_interface.so undefined symbol errors, or the black screen in Gazebo?

[2016-05-03 22:19] tkoolen commented on #33
Digging around a bit, the undefined symbol error seems to be a yaml-cpp thing
https://stackoverflow.com/questions/36403287/compiler-error-with-yaml-cpp-undefined-reference-to-yamldetailnode-data

[2016-05-03 22:41] tkoolen commented on #33
OK, the undefined symbol error turns out to be our issue. `ldd libati_sensor_interface.so` has a line
[code]
so in **our** software stack. It's caused by a bad interaction (PATH modification) between a script that we source and the Valkyrie install.

I can simulate again without errors after doing a
[code]
in `~/val_indigo` in a terminal where that path modification was not done.

I still get the

[2016-05-03 22:41] #33 closed

[2016-05-03 23:15] kodyensley commented on #32
Yeah I can confirm @tkoolen it looks like roswtf does call that out as an error. It frankly won't hurt you, but its something we can slate to look into on our side. Also that error will go away when we switch you guys from source code to debs.

Thanks for the catch.

[2016-05-03 23:16] jlack1987 commented on #25
we're still talking about this one, lets leave it open for now

[2016-05-03 23:41] jlack1987 commented on #25
I would like to try to replicate what your doing and see the behavior is at least what we expect it to be. I'll give you an example of what i'm talking about and you let me know if I need to modify it to match your use case exactly.

So in ~/.bashrc on Link I will put the line ```export TEST_VARIABLE=BLAH```. Then I will create a simple python script that does ```print os.environ['TEST_VARIABLE']`

[2016-05-04 09:09] wxmerkt commented on #25
I'm happy to give it another test and investigate early next week. Re-reading Dustin's comment I would first investigate on our end what ``.bashrc_nasa`` has in it as well as ``/etc/init/vanguard.conf`` to understand the system better. I probably made the mistake by putting it in either ``.bashrc`` or ``.bash_nasa_val.d/30_openhumanoids`` instead of the ``.bashrc_nasa``. I'll verify though to make

[2016-05-04 13:24] wxmerkt commented on #25
Okay, so I've checked on the robot that our LD_PRELOAD is set correctly when sourcing ``.bash_nasa_val``, which is what ``/etc/init/val-vanguard.conf`` appears to be doing. Yet, when pressing the button in the user interface that variable appears to be unset. Can we perhaps test that recommended button to print as you suggested @jlack1987? Also, should all ROS_INFO and ROS_INFO_STREAM messages app

[2016-05-04 13:28] jlack1987 commented on #33
No worries, glad ya got it figured out. Let us know if you have any other issue!

[2016-05-04 13:34] jlack1987 commented on #25
Yeah we actually have some bug that's causing log messages generated in c++ to not show up in our log message window. It's kinda driving us nuts because on a few computers in our lab the c++ messages show up properly, and those computers are simple visualizer computers we setup the same as every other visualizer computer. We are actively trying to hunt that issue down. I'm not actually sure about

[2016-05-04 17:16] jlack1987 commented on #23
This one is on the way. I hope you like dense, monochrome meshes :)

[2016-05-05 14:28] jlack1987 commented on #25
Ok just had a quick discussion with @dustingooding about how the vanguard environment(vanguard makes the remote calls for ui_builder) works, and I would like you to try something. On Link there will be a directory ~/.bash_nasa_val.d. In there there will be a number of bash files that get sourced by vanguard. If you add another bash file in there that exports the environment variable you want, then

[2016-05-05 14:31] wxmerkt commented on #25
That's already how we are doing it - we've added a file in there
(50_openhumanoids) that does the export. Happy to test again Monday,
perhaps the problem is gone but didn't see due to missing logs - I'll be in
touch

On Thursday, 5 May 2016, jlack1987 <notifications@github.com> wrote:

[2016-05-08 21:13] manuelli opened #34 "control_manager fails to find IMU"
About half the time we power on the robot and launch the control_manager we get an error related to a bad connection to the IMU.

2016-05-08 16:03:51 callbackFilter : [ERROR   ] Imu either unplugger or has bad connection
7.071 [ ERROR  ][/opt/ros/indigo/bin/rttlua-gnulinux::main()] in updateHook(): switching to exception state because of unhandled exception
7.071 [ ERROR  ][/opt/ros/indigo/bin/rtt

[2016-05-08 22:52] MathisFrankB commented on #34
We are looking into this, but it appears to be a problem in the imu itself (possibly the power two the imu). That exception is thrown after receiving one full packet from the imu, and the checksum is verified. Certain bytes of the packet are checked against possible good values, and if they do not match then an exception is thrown. It is unclear though why exactly the imu is sending the bad data t

[2016-05-09 07:40] mauricefallon commented on #34
We've seen the same problem in Edinburgh

[2016-05-09 16:15] #30 closed

[2016-05-09 22:17] jlack1987 commented on #21
@wxmerkt can this be closed out? Or any updates here? We have the IMU error captured in a different ticket and @MathisFrankB is currently working on trying to handle the bad IMU packets in a better way. Let us know.

[2016-05-10 10:07] wxmerkt commented on #21
While the IMU happens on the real robot, we do see val_gazebo crashing with some rttlua error as well occasionally (and that's what this issue should track - I posted the IMU message later when we found that, but that's more related to #34).

I haven't been directly working with val_gazebo recently so cannot pots an updated error log, but the issue was still present as of last checking.

[2016-05-10 15:43] jlack1987 commented on #21
ok i'll leave it open or now then. Let me know if you see this again.

[2016-05-12 22:18] jlack1987 commented on #23
![screenshot from 2016-05-12 17 16 07](https://cloud.githubusercontent.com/assets/6334699/15232233/7d28d916-1865-11e6-96d2-112709ed570d.png)

alright @mauricefallon this one is ready to go. Pull everything and do a clean build and you should have some URDF's with the mass sims.

[2016-05-13 07:54] mauricefallon commented on #23
Thanks. Are you referring to the develop branch:
https://github.com/NASA-JSC-Robotics/val_description/tree/develop/model/meshes/arms

FYI: @MarcoCar @yimingyanged

[2016-05-13 14:02] jlack1987 commented on #23
Yep that's the one

[2016-05-13 16:09] #23 closed

[2016-05-23 18:09] jlack1987 commented on #28
Hey Greg just wanting to say we haven't forgotten about you. We actually don't have an assembled, working forearm to test with right now. As soon as we do we'll address this and get back to you. Sorry for the dalay

[2016-05-31 13:35] jlack1987 commented on #25
Alright @wxmerkt sorry it took so long but I was finally able to test this and the environment variable was echo'd as expected. Is there anything else you can think of that we can do here to try to reproduce the problems your having?

[2016-05-31 13:41] wxmerkt commented on #25
I haven't been on the robot in about three weeks. Given that we have a workaround that we prefer (i.e. so that we can actually see the log messages), we'll go with that. I believe the underlying issue did not re-occur, so I'll close this out. Thanks for your assistance :)

[2016-05-31 13:41] #25 closed

[2016-06-02 13:41] MathisFrankB commented on #28
We have looked into this and have found the issue. There is a hot fix that is in review that will fix the problem.

[2016-06-02 13:44] MathisFrankB commented on #34
We have looked into this and have added some checking that help alleviate the issue. This will be available to the master branch in the next release.

[2016-06-03 18:35] jlack1987 commented on #28
@gizatt a hotfix for this has been merged into master. Please let us know if you continue having problems

[2016-06-03 18:36] gizatt commented on #28
Thanks! I'll give this a whirl as soon as I can.

[2016-06-03 22:05] MathisFrankB commented on #20
@mauricefallon and @dljsjr, is there anything that needs to be done here?

[2016-06-06 22:01] mauricefallon commented on #20
We now get the joint angles directly from ROS-control and get the pelvis position from IHMC, so we are happy with the top line issue mentioned above.

[2016-06-06 22:01] #20 closed

[2016-06-08 23:36] scpeters commented on #18
This has been stagnant for a little while. Do you have any advice on what is the right way to fix it?

[2016-06-10 20:56] scpeters opened #35 "Which version of gazebo to use for val"
Val is currently using trusty, ros indigo, and gazebo4 (similar to the drcsim package). There is a [discussion thread](https://bitbucket.org/osrf/gazebo/pull-requests/2316/issue-1959-imu-fixes/diff#comment-19623533) about switching to a new version of gazebo for val that can be continued here.

@hsu suggested that we upgrade val to use gazebo7.

@dljsjr placed the following requirements:

1. it ca

[2016-06-10 21:33] dljsjr commented on #35
The reason I included 3 is because the current JSC installation instructions currently leverage `ros-indigo-desktop-full` in their setup instructions, and then installing Gazebo 4 after the fact. It's brittle and error prone. So they currently require all installations to be done on a computer that doesn't already have Gazebo, or their instructions will fail.

I suppose the other option is for JSC

[2016-06-10 22:20] jlack1987 commented on #35
cc @dustingooding @kodyensley

[2016-06-10 22:27] scpeters commented on #35
It wouldn't fix the problem you describe, but we can maintain the status quo but switch from gazebo4 to gazebo7 by creating a rosdep rule similar to [this one](https://github.com/NASA-JSC-Robotics/nasa_common_rosdep/blob/master/nasa-gazebo4.yaml).

[2016-06-11 01:53] dustingooding commented on #35
I've confirmed that ros-indigo-desktop (not full) and the custom rosdep
keys work fine together (on R2), and all the "missing" things in
not-full-desktop get installed correctly given correct dependencies listed
in package.xml files (with the use of rosdep/Debian dependencies).  Val's
use of desktop-full is a dangerous crutch and should probably be gotten rid
of... ideally you'd only need ros-indi

[2016-06-13 15:47] kodyensley commented on #35
All,

We removed our dependency on ros-indigo-desktop-full about two months ago.

[2016-06-13 20:12] jlack1987 commented on #35
[val_gazebo](https://github.com/NASA-JSC-Robotics/val_gazebo/tree/feature/VDEV-1212) branch setup for Gazebo7. Gazebo integrated unit tests passing.

[2016-06-16 16:02] wxmerkt commented on #21
I haven't used the most recent Gazebo release yet. I'm closing this issue for now and will reopen once I can verify that it still pops up

[2016-06-16 16:02] #21 closed

[2016-06-16 23:24] jlack1987 commented on #21
Hey wolf, we have decided to pull rttlua out of the launch process and have already seen an improvement in the behavior of things because of it. Not sure if it will make the next release or not, but it is an improvement that is coming and should take care of all the rttlua issues

[2016-06-20 19:47] #35 closed

[2016-06-22 16:27] wxmerkt opened #36 "Forearm Yaw running off upon servoing lower arm"
As discussed on Slack, the forearm yaw runs off relatively frequently (today 4 out of 5 times).

Logs are on Slack, and here's the plot of desired/commanded vs actual, note how it is running off away from the desired command.

![2016-06-22-leftforearmyaw_posdesrad_vs_aps_angle_rad](https://cloud.githubusercontent.com/assets/1664508/16274686/915d3fc2-389e-11e6-8ece-b4254d284256.png)

We'll add more

[2016-06-23 16:25] mauricefallon opened #37 "uoe: persistent lean introduced in March"
We've been seeing our robot leaning onto the left foot consistently - ever since March during installation. We never sought to fix it until realising how characteristic it is and that the robot usually falls to the left when walking also.

Looking through the logs, its clear that up to March 02 (including testing of the robot in JSC), the robot didn't lean at all. Measures visualised in LogVisuali

[2016-06-23 17:07] jlack1987 commented on #37
The calibration is stored in xml files for each actuator. If you look in val_description/instance/coefficients/actuators you'll see a bunch of v_x_xxx.xml files. A coeff named 'PositionOffset_Rad' will be in those files and those represent a position offset applied to the encoder value for zero. To see the serial numbers for your robot you can either look in the instance file(~/val_indigo/install/

[2016-06-23 19:25] mauricefallon commented on #37
The git history says that new calibration was done between these experiments:
https://github.com/NASA-JSC-Robotics/val_description/commit/da9f4c45650fc8207ae98b03f262440bf2476b7e
And commited at 2016-03-02 16:59:28

Your guys stuff is pretty solid: that I back this out by a combination of 3 month old logs and git history is pretty cool.

Before we look at reverting at least some of these calibrati

[2016-06-23 19:51] jlack1987 commented on #37
Yeah bad arm calibrations can result in bad ICP tracking since it'll result in a bad overall COM estimation which the ICP is a function of. Was this the calibration we did while we were there or did you guys do this one yourselves?

I'm really interested to see if reverting these calibrations fixes your issue. So if you don't mind trying that I would appreciate it even if you revert right back. If

[2016-06-23 20:08] mauricefallon commented on #37
The one when you where here. We haven't changed them since. It's really noticeable visually. And the left foot F/T usually has about 70% of the mass on it.

We will run the experiment in the next few days.

We could really help with analysing the IMU performance: our Vicon system makes this so easy. If my recollection is correct pitch and roll estimate IHMC was was much better than I expected.

[2016-06-24 14:10] jlack1987 commented on #37
@mauricefallon since you verified they were in the install tree then as long as you loaded coeffs again then they should have been applied. A way to **guarantee** that they are applied is to have an actuator stream its coeffs back to you and you can check the 'PositionOffset_Rad' value to make sure it's what you think it is. To do this, from a terminal on the bot, do

turboStream -c <channel> -n <

[2016-06-24 14:27] jlack1987 commented on #36
@wxmerkt any new info here?

[2016-06-24 18:32] gizatt opened #38 "Launching cfgLoader for forearm testbench errors out"
After a clean rebuild on the most recent develop branch for all Val repos, when I try to start up the forearm testbench, ```smtcore``` and ```control -r ...``` both work fine, but when running ```cfgLoader -i .../forearm_testbench_left.xml```, I get the error:

[code]

Looks like it's looking for a field (turboProcFirmwareRoot) not included in that XML file. Any tips?

(Looks like it's only an err

[2016-06-24 18:59] jlack1987 commented on #38
@gizatt this is some newly added stuff, we'll look into it and get back to you asap

[2016-06-24 21:55] gizatt commented on #28
Looks like it's behaving normally now. Thanks!

[2016-06-24 21:55] #28 closed

[2016-06-25 08:53] wxmerkt commented on #36
I'm pretty busy at the moment so not on the robot. Unless someone plans on doing experiments using the lower arm, we'll likely won't use and servo the forearm before upgrading. I'll add more information and ping you guys on Slack once we see this again

[2016-06-29 02:11] MathisFrankB commented on #37
@mauricefallon I am just going back through this. Did the robot fall in between the two plots? It is a little out there, but it might be possible that something got knocked loose during a fall. It is also possible for a large fall to cause the imu to loose calibration. This would be pretty far fetch since the imu is supposed to be able to handle up to 50 gs before it loses calibration, but with ho

[2016-07-05 18:40] velinddimitrov opened #39 "Rosdep Sources for Gazebo 7"
Rosdep sources from install instructions should be updated for Gazebo 7.

sudo sh -c 'echo "yaml https://raw.githubusercontent.com/NASA-JSC-Robotics/nasa_common_rosdep/master/nasa-gazebo4.yaml" > /etc/ros/rosdep/sources.list.d/12-nasa-gazebo4.list'

should read

sudo sh -c 'echo "yaml https://raw.githubusercontent.com/NASA-JSC-Robotics/nasa_common_rosdep/master/nasa-indigo-gazebo7.yaml" > /etc/ros

[2016-07-05 18:41] velinddimitrov commented on #39
@kodyensley

[2016-07-05 18:56] scpeters commented on #39
Are you referring to this wiki page?

* https://github.com/NASA-JSC-Robotics/valkyrie/wiki/Setup-Valkyrie-Developer-Environment

[2016-07-05 18:58] velinddimitrov commented on #39
Yes

[2016-07-05 20:42] kodyensley commented on #39
This is sort-of expected. We pushed some things a bit early and they require gazebo7 keys. The documentation didn't catch up. Thats my bad. I'll have that fixed today.

[2016-07-05 22:25] kodyensley commented on #39
This should be fixed now. Note that because the rosdeps share the same name the old key needs to be removed or rosdep will resolve first come/first serve. (The install instructions also have this added).

    sudo rm /etc/ros/rosdep/sources.list.d/12-nasa-gazebo4.list

[2016-07-05 22:25] #39 closed

[2016-07-06 15:59] jlack1987 commented on #38
@gizatt has this been taken care of yet? I feel like I remember you working with @jjholley to get this fixed?

[2016-07-06 16:52] gizatt commented on #38
Yup, this has been resolved and my testbench is happily up and running. Thanks!

[2016-07-06 16:52] #38 closed

[2016-07-14 17:16] mauricefallon opened #40 "accessing the force torque tares"
From a recent run, the force torque offsets are still not available to us: i.e. the new IHMC controller still publishes the untared values.

@MathisFrankB : is the tare mode in the Cartman release?  (apologies, but i don't know when this was fixed) Is there a hardware interface which stores these tares?

And do you know if IHMC write their tares to that interface? (so that we can access them)

[2016-07-14 17:48] jlack1987 commented on #40
Yeah @mauricefallon I just double checked and it looks like that particular fix isn't in Cartman. The way we have it working is there is a mode interface for the force/torque sensors that allows you to call tare/untare, and we have stopped claiming those resources, so they are available for anybody else to claim. In the Cartman release though, it looks like we're still claiming them. In the Daria

[2016-07-14 21:20] mauricefallon commented on #40
Thanks, that's good to know.

@dljsjr : would it be possible for you to push out the tared values ( leftFootStateEstimatorForceEstimatorForceZ) to ROS
instead of the raw values (raw_force_z_leftAnkleRoll)?

[2016-07-14 21:20] #40 closed

[2016-07-18 14:32] christian-rauch commented on #27
We now would like to track the left hand pose with the Vicon system and intent to attach markers to the threaded M3 holes that hold the back plate.
![left_hand_plate_m3_screw_location](https://cloud.githubusercontent.com/assets/8226248/16918045/f811ec9c-4cfb-11e6-8402-26db88a0ad47.png)
@jlack1987 can you provide use with the 3D positions of these screws with respect to the "**leftPalm**" frame?

[2016-07-19 16:24] jlack1987 commented on #27
![valpalmphoto_annotated](https://cloud.githubusercontent.com/assets/6334699/16957759/567002a4-4da3-11e6-9508-389d2566977f.png)

Here ya go. Note that I flipped the image over.